**지오코딩**은 주소(예: "1600 Amphitheatre Parkway, Mountain View, CA")를 지도에 마커를 배치하거나 위치를 지정하는 데 사용할 수 있는 지리적 좌표(예: 위도 37.423021 및 경도 -122.083739)로 변환하는 프로세스입니다.

http://data.seoul.go.kr/dataList/OA-16053/S/1/datasetView.do

In [1]:
import requests
from bs4 import BeautifulSoup
 
base_url = "https://maps.googleapis.com/maps/api/geocode/json?address="
key = "&key=구글 api 키"

url = base_url+"천안시"+key

req = requests.get(url)
html = req.text
soup = BeautifulSoup(html, "html.parser")

In [2]:
soup

{
   "results" : [
      {
         "address_components" : [
            {
               "long_name" : "Cheonan-si",
               "short_name" : "Cheonan-si",
               "types" : [ "locality", "political" ]
            },
            {
               "long_name" : "Chungcheongnam-do",
               "short_name" : "Chungcheongnam-do",
               "types" : [ "administrative_area_level_1", "political" ]
            },
            {
               "long_name" : "South Korea",
               "short_name" : "KR",
               "types" : [ "country", "political" ]
            }
         ],
         "formatted_address" : "Cheonan-si, Chungcheongnam-do, South Korea",
         "geometry" : {
            "bounds" : {
               "northeast" : {
                  "lat" : 36.9733765,
                  "lng" : 127.4204848
               },
               "southwest" : {
                  "lat" : 36.6205419,
                  "lng" : 127.0097552
               }
            },
            "location" : {
               "lat" : 36.815129,
               "lng" : 127.1138939
            },
            "location_type" : "APPROXIMATE",
            "viewport" : {
               "northeast" : {
                  "lat" : 36.9733765,
                  "lng" : 127.4204848
               },
               "southwest" : {
                  "lat" : 36.6205419,
                  "lng" : 127.0097552
               }
            }
         },
         "place_id" : "ChIJ5a7fvhUoezUR1KkLpiWn_fo",
         "types" : [ "locality", "political" ]
      }
   ],
   "status" : "OK"
}

### 영화관 - mega, cgv, lotte

In [4]:
loc_dict = {'영화관':[], 'lat':[], 'lng':[]}

mega = ['강남', '강남대로(씨티)', '강동', '군자', '동대문', '마곡', '목동', '상봉', '상암월드컵경기장', '성수', '센트럴', '송파파크하비오', '신촌', '이수', '창동', '코엑스', '홍대', '화곡', 'ARTNINE']
mega = ['메가박스 ' + mega[i] for i in range(len(mega))]
cgv = ['CGV강남', 'CGV강변', 'CGV건대입구', 'CGV구로', 'CGV대학로', 'CGV동대문', 'CGV등촌', 'CGV명동', 'CGV명동역 씨네라이브러리', 'CGV목동', 'CGV미아', 'CGV불광', 'CGV상봉', 'CGV성신여대입구', 'CGV송파', 'CGV수유', 'CGV신촌아트레온', 'CGV압구정', 'CGV여의도', 'CGV연남', 'CGV영등포', 'CGV왕십리', 'CGV용산아이파크몰', 'CGV중계', 'CGV천호', 'CGV청담씨네시티', 'CGV피카디리1958', 'CGV하계', 'CGV홍대', 'CINE de CHEF 압구정', 'CINE de CHEF 용산아이파크몰']
lotte = ['가산디지털', '가양', '강동', '건대입구', '김포공항', '노원', '도곡', '독산', '브로드웨이(신사)', '서울대입구', '수락산', '수유', '신도림', '신림', '에비뉴엘(명동)', '영등포', '용산', '월드타워', '은평(롯데몰)', '장안', '중랑', '청량리', '합정', '홍대입구']
lotte = ['롯데시네마 ' + lotte[i] for i in range(len(lotte))] 

theater = mega + cgv + lotte

In [6]:
import json
import requests

base_url = "https://maps.googleapis.com/maps/api/geocode/json?address="
key = "&key=구글 api 키"

for i in range(len(theater)):
    url = base_url + theater[i] + key
    req = requests.get(url)
    
    data = req.json()
    loc_dict['영화관'].append(theater[i])
    loc_dict['lat'].append(data['results'][0]['geometry']['location']['lat'])
    loc_dict['lng'].append(data['results'][0]['geometry']['location']['lng'])

In [8]:
import pandas as pd
df = pd.DataFrame(loc_dict)
df

              영화관        lat         lng
0         메가박스 강남  37.497990  127.026418
1   메가박스 강남대로(씨티)  37.500356  127.026969
2         메가박스 강동  37.528405  127.125351
3         메가박스 군자  37.555716  127.078355
4        메가박스 동대문  37.566869  127.007578
..            ...        ...         ...
69       롯데시네마 장안  37.571872  127.072346
70       롯데시네마 중랑  37.615038  127.076175
71      롯데시네마 청량리  37.581010  127.048083
72       롯데시네마 합정  37.550277  126.913542
73     롯데시네마 홍대입구  37.557222  126.925000

[74 rows x 3 columns]

In [138]:
df.to_excel('theater_location.xlsx')

### 영화관 - 서울시
http://data.seoul.go.kr/dataList/OA-16053/S/1/datasetView.do

In [32]:
movs = pd.read_csv('서울특별시 영화상영관 인허가 정보.csv', engine = 'python')
movs.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,음향시설여부,편의시설여부,소방시설여부,총게임기수,기존게임업외업종명,제공게임물명,공연장형태구분명,품목명,최초등록시점,지역구분명
0,3150000,CDFF4220002015000002,20150526,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3150000,CDFF4220002015000003,20150526,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3150000,CDFF4220002015000004,20150526,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3150000,CDFF4220002015000005,20150526,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3190000,CDFF4220002007000005,20070515,NaN,1,영업/정상,13,영업중,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
movs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877 entries, 0 to 876
Data columns (total 56 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   개방자치단체코드   877 non-null    int64
 1   관리번호       877 non-null    object
 2   인허가일자      877 non-null    int64
 3   인허가취소일자    0 non-null      float64
 4   영업상태코드     877 non-null    int64
 5   영업상태명      877 non-null    object
 6   상세영업상태코드   877 non-null    object
 7   상세영업상태명    863 non-null    object
 8   폐업일자       208 non-null    float64
 9   휴업시작일자     0 non-null      float64
 10  휴업종료일자     0 non-null      float64
 11  재개업일자      0 non-null      float64
 12  전화번호       604 non-null    object
 13  소재지면적      0 non-null      float64
 14  소재지우편번호    218 non-null    float64
 15  지번주소       877 non-null    object
 16  도로명주소      843 non-null    object
 17  도로명우편번호    487 non-null    float64
 18  사업장명       877 non-null    object
 19  최종수정일자     877 non-null    int64
 20  데이터갱신구분    877 non-null    object
 21  데이터갱신일자    877 non-null    object
 22  업태구분명      0 non-null      float64
 23  좌표정보(X)    870 non-null    float64
 24  좌표정보(Y)    870 non-null    float64
 25  문화체육업종명    490 non-null    object
 26  문화사업자구분명   379 non-null    object
 27  총층수        269 non-null    float64
 28  주변환경명      169 non-null    object
 29  제작취급품목내용   0 non-null      float64
 30  시설면적       60 non-null     float64
 31  지상층수       346 non-null    float64
 32  지하층수       327 non-null    float64
 33  건물용도명      234 non-null    object
 34  통로너비       36 non-null     float64
 35  조명시설조도     0 non-null      float64
 36  노래방실수      0 non-null      float64
 37  청소년실수      0 non-null      float64
 38  비상계단여부     0 non-null      float64
 39  비상구여부      0 non-null      float64
 40  자동환기여부     0 non-null      float64
 41  청소년실여부     0 non-null      float64
 42  특수조명여부     0 non-null      float64
 43  방음시설여부     0 non-null      float64
 44  비디오재생기명    0 non-null      float64
 45  조명시설유무     0 non-null      float64
 46  음향시설여부     0 non-null      float64
 47  편의시설여부     0 non-null      float64
 48  소방시설여부     0 non-null      float64
 49  총게임기수      0 non-null      float64
 50  기존게임업외업종명  0 non-null      float64
 51  제공게임물명     0 non-null      float64
 52  공연장형태구분명   442 non-null    object
 53  품목명        0 non-null      float64
 54  최초등록시점     490 non-null    float64
 55  지역구분명      212 non-null    object
dtypes: float64(36), int64(4), object(16)
memory usage: 383.8+ KB

In [55]:
영업중 = movs['사업장명'][movs['폐업일자'].isnull()]
영업중.groupby(영업중[:-2]).count()

사업장명
(주)강제규필름            1
(주)케이엠티브이           1
63아이맥스영화관           1
CGV  수유 2관          1
CGV 강남제1관           1
                   ..
코엑스지점 더 부티크 프라이빗    1
클래식시네마스페이스(주)       2
필름포럼 1관             1
필름포럼 2관             1
허리우드클래식             1
Name: 사업장명, Length: 641, dtype: int64

In [61]:
영업중[0]

'메가박스중앙(주) 화곡지점 2관'

In [82]:
import re
re.compile(r'[ 0-9관지점+]').sub('', 영업중[0])

'메가박스중앙(주)화곡'

In [100]:
영업중 = 영업중.reindex(np.arange(len(영업중)))

In [110]:
for i in range(len(영업중)):
    try:
        영업중[i] = re.compile(r'[ 0-9관지점+]').sub('', 영업중[i]) 
    except:
        pass

In [117]:
theater = list(pd.DataFrame(영업중.groupby(영업중).count() ).index)

In [118]:
len(list(theater) )

145

In [128]:
loc_dict = {'영화관':[], 'lat':[], 'lng':[]}

for i in range(len(theater)):
    url = base_url + theater[i] + key
    req = requests.get(url)
    
    data = req.json()
    try:
        loc_dict['영화관'].append(theater[i])
        loc_dict['lat'].append(data['results'][0]['geometry']['location']['lat'])
        loc_dict['lng'].append(data['results'][0]['geometry']['location']['lng'])
    except: 
        loc_dict['lat'].append(0)
        loc_dict['lng'].append(0)

In [129]:
len(loc_dict['영화관']), len(loc_dict['lat']), len(loc_dict['lng'])

(145, 145, 145)

In [134]:
df = pd.DataFrame(loc_dict) 
df.to_excel('theater_location.xlsx')

In [133]:
df.head()

               영화관        lat         lng        좌표정보(X)        좌표정보(Y)
0        (주)케이엠티브이  37.529402  126.871104  185574.937191  448716.274685
1           CGV강남제  37.501559  127.026319  185574.937191  448716.274685
2  CGV강변CINE&FORET  37.534937  127.095709  185574.937191  448716.274685
3          CGV강변DX  37.485214  127.013629  185574.937191  448716.274685
4        CGV강변STAR  37.534937  127.095709  198295.843258  442507.699069

### 서울시 공원
http://data.seoul.go.kr/dataList/OA-394/S/1/datasetView.do

In [11]:
p = pd.read_csv('서울시 주요 공원현황.csv', engine = 'python')
p.head()

,연번,공원명,공원개요,면적,개원일,주요시설,주요식물,안내도,오시는길,이용시참고사항,이미지,지역,공원주소,관리부서,전화번호,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84),바로가기
0,1,남산도시자연공원,남산공원은 도심에 위치하여 서울시민에게 맑은 공기를 제공하는 자연휴식처이며 산책 꽃...,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,1968.9.10,기반시설 : 광장 45950㎡ 도로 108530㎡ 산책로 6.7㎞ (북측:3.7㎞/...,소나무 단풍 아카시아 상수리나무 등 191종 2881870주,http://parks.seoul.go.kr/upload/seditorMulti/2...,명동역(남산케이블카 와룡묘 서울애니메이션센터 방면) 도보 명동역 3번출구 → 퍼시픽...,남산공원 차량통행 금지안내 2005년 5월 1일부터 남산공원에 일반승용차 택시 통행...,http://parks.seoul.go.kr/file/info/view.do?fId...,중구,서울특별시 중구 삼일대로 231(예장동),서울특별시중부푸른도시사업소,02-3783-5900,198364.107,450395.554,126.990377,37.550140,http://parks.seoul.go.kr/template/sub/namsan.do
1,2,길동생태공원,길동생태공원은 생물의 서식처를 제공하고 종다양성을 증진시키며 자연생태계의 생물들을 ...,80683㎡,1999.5.20,탐방객안내소 야외전시대 관찰대 목재데크 조류관찰대 길동생태문화센터,소나무 보리수 등 64종 31800주 산국 부들 등 138종 192800본,http://parks.seoul.go.kr/template/common/img/p...,NaN,매주 월요일은 휴관입니다 사전예약 후 입장하실 수 있습니다. ▶ 인터넷 예약 바로가...,http://parks.seoul.go.kr/file/info/view.do?fId...,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),동부공원녹지사업소 길동생태공원,02-489-2770,213554.120,448852.675,127.154779,37.540394,http://parks.seoul.go.kr/template/sub/gildong.do
2,3,서울대공원,서울대공원은 세계 각국의 야생동물들이 살아 숨 쉬는 서울동물원과 다양한 재미와 즐거...,9132690m²,1984.5.1,동물원 식물원 테마가든(장미원 어린이동물원 피크닉장) 치유숲 산림욕장 캠핑장 국립현...,NaN,NaN,지하철 4호선 대공원역 하차(2번 출구) 도보 15분 정도 문의처 02)500-73...,일반사항 공원을 깨끗하게 이용합니다. 대중교통을 이용해 주세요. 기념물 시설물 풀과...,http://parks.seoul.go.kr/file/info/view.do?fId...,과천시,경기도 과천시 대공원광장로 102,전략기획실,02-500-7032,200994.267,437163.981,127.019847,37.426449,http://grandpark.seoul.go.kr/
3,4,서울숲,당초 골프장 승마장 등이 있던 뚝섬일대를 주거업무 지역으로 개발할 경우 약 4조원에...,480994㎡,2005.6.18,4개 테마공원: 문화예술공원 자연생태숲 자연체험학습원 습지생태원 주요시설: 가족마당...,수 목 : 소나무 섬잣나무 계수나무 외 95종 415795주 식물원 : 선인장 등 ...,http://parks.seoul.go.kr/template/common/img/p...,NaN,지하철 분당선 서울숲역 3번출구 도보로 약5분 2호선 뚝섬역 8번출구 도보로 약 1...,http://parks.seoul.go.kr/file/info/view.do?fId...,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),서울숲 관리사무소,02-460-2905,203695.432,449290.726,127.041798,37.543072,http://parks.seoul.go.kr/template/sub/seoulfor...
4,5,월드컵공원,월드컵공원은 서울의 서쪽에 위치하여 1978년부터 1993년까지 15년간 서울시민이...,2284085㎡,2002.5.1,평화의 공원 월드컵공원전시관(879㎡) 유니세프광장(2400㎡) 평화광장(5217㎡...,NaN,http://parks.seoul.go.kr/template/common/img/p...,지하철 6호선 월드컵경기장역 하차 → 1번 출구로 나온 후 직진 → 큰길(도로)이 ...,일반사항 공원을 깨끗하게 이용합니다. 대중교통을 이용해 주세요. 기념물 시설물 풀과...,http://parks.seoul.go.kr/file/info/view.do?fId...,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),월드컵공원,02-300-5500,190658.070,451598.831,126.878907,37.571805,http://parks.seoul.go.kr/template/sub/worldcup...

In [13]:
name = p['공원명']

In [17]:
url = base_url + name[1] + key
req = requests.get(url)
data = req.json()
data

{'results': [{'address_components': [{'long_name': 'Gildong Ecological Park',
     'short_name': 'Gildong Ecological Park',
     'types': ['establishment', 'park', 'point_of_interest']},
    {'long_name': '산7-3', 'short_name': '산7-3', 'types': ['premise']},
    {'long_name': 'Gil-dong',
     'short_name': 'Gil-dong',
     'types': ['political', 'sublocality', 'sublocality_level_2']},
    {'long_name': 'Gangdong-gu',
     'short_name': 'Gangdong-gu',
     'types': ['political', 'sublocality', 'sublocality_level_1']},
    {'long_name': 'Seoul',
     'short_name': 'Seoul',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'South Korea',
     'short_name': 'KR',
     'types': ['country', 'political']},
    {'long_name': '134-010',
     'short_name': '134-010',
     'types': ['postal_code']}],
   'formatted_address': 'Gildong Ecological Park, 산7-3 Gil-dong, Gangdong-gu, Seoul, South Korea',
   'geometry': {'location': {'lat': 37.5410211, 'lng': 127.1562098},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 37.5423700802915,
      'lng': 127.1575587802915},
     'southwest': {'lat': 37.53967211970851, 'lng': 127.1548608197085}}},
   'place_id': 'ChIJVYThirixfDUR5U67bM64SyY',
   'plus_code': {'compound_code': 'G5R4+CF Seoul, South Korea',
    'global_code': '8Q99G5R4+CF'},
   'types': ['establishment', 'park', 'point_of_interest']}],
 'status': 'OK'}

In [16]:
data['results'][0]['geometry']['location']['lat']

34.063811

In [19]:
park_dict = {'공원명': [], 'lat': [], 'lng': []}

for i in range(len(name)):
    url = base_url + name[i] + key
    req = requests.get(url)
    
    data = req.json()
    park_dict['공원명'].append(name[i])
    park_dict['lat'].append(data['results'][0]['geometry']['location']['lat'])
    park_dict['lng'].append(data['results'][0]['geometry']['location']['lng'])

In [23]:
parks = pd.DataFrame(park_dict)
parks.head() 
#parks.to_excel('park location.xlsx')

        공원명        lat         lng
0  남산도시자연공원  34.063811 -118.300907
1    길동생태공원  37.541021  127.156210
2     서울대공원  37.427525  127.017025
3       서울숲  37.544388  127.037442
4     월드컵공원  37.564239  126.895933

In [25]:
parks = pd.concat([parks, p['X좌표(WGS84)'], p['Y좌표(WGS84)'] ], axis = 1) 
parks.head()

        공원명        lat         lng  X좌표(WGS84)  Y좌표(WGS84)
0  남산도시자연공원  34.063811 -118.300907  126.990377   37.550140
1    길동생태공원  37.541021  127.156210  127.154779   37.540394
2     서울대공원  37.427525  127.017025  127.019847   37.426449
3       서울숲  37.544388  127.037442  127.041798   37.543072
4     월드컵공원  37.564239  126.895933  126.878907   37.571805

In [27]:
parks.to_excel('park location.xlsx')