In [1]:
import pandas as pd
import requests
import json

park = pd.read_excel('park location.xlsx')['공원명']

In [2]:
park = list(park)

## kakao map url
latlng_url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x=경도lng&y=위도lat"

keyword_url = "https://dapi.kakao.com/v2/local/search/keyword.json?query=검색어"

address_url = "https://dapi.kakao.com/v2/local/search/address.json?query=주소"

## 공원

In [3]:
park[0]

'남산도시자연공원'

In [4]:
url = "https://dapi.kakao.com/v2/local/search/keyword.json?query=" + park[0]
headers = {"Authorization": "KakaoAK d7a5957b4fe1aef6a523daf1be7e8720"} # admin key
req = requests.get(url, headers = headers)
text = req.json()
text

{'documents': [{'address_name': '서울 중구 예장동 산 5-6',
   'category_group_code': '',
   'category_group_name': '',
   'category_name': '여행 > 공원 > 도시근린공원',
   'distance': '',
   'id': '8246129',
   'phone': '02-3783-5900',
   'place_name': '남산공원',
   'place_url': 'http://place.map.kakao.com/8246129',
   'road_address_name': '서울 중구 남산공원길 125-54',
   'x': '126.989316855952',
   'y': '37.5524979951415'}],
 'meta': {'is_end': True,
  'pageable_count': 1,
  'same_name': {'keyword': '남산도시자연공원', 'region': [], 'selected_region': ''},
  'total_count': 1}}

In [5]:
text['documents'][0]['address_name']

'서울 중구 예장동 산 5-6'

In [6]:
text['documents'][0]['address_name'].split(' ')

['서울', '중구', '예장동', '산', '5-6']

In [7]:
text['documents'][0]['address_name'].split(' ')[1]

'중구'

In [8]:
text['documents'][0]['address_name'].split(' ')[2]

'예장동'

In [ ]:
text['documents'][0]['x'] # lng
text['documents'][0]['y'] # lat

In [21]:
park = pd.read_excel('park location.xlsx')['공원명']
park = list(park)

parks = {'공원명' : [], '주소': [], '구': [], '동': [], 'lat': [], 'lng': []}

for i in range(len(park)):
    url = "https://dapi.kakao.com/v2/local/search/keyword.json?query=" + park[i]
    headers = {"Authorization": "KakaoAK d7a5957b4fe1aef6a523daf1be7e8720"} # admin key
    req = requests.get(url, headers = headers)
    text = req.json()
    parks['공원명'].append(park[i])
    try:
        parks['주소'].append(text['documents'][0]['address_name'])
        parks['구'].append(text['documents'][0]['address_name'].split(' ')[1])
        parks['동'].append(text['documents'][0]['address_name'].split(' ')[2])
        parks['lat'].append(text['documents'][0]['y'])
        parks['lng'].append(text['documents'][0]['x'])
    except:
        parks['주소'].append('x')
        parks['구'].append('x')
        parks['동'].append('x')
        parks['lat'].append('x')
        parks['lng'].append('x')

pd.DataFrame(parks)

,공원명,주소,구,동,lat,lng
0,남산도시자연공원,서울 중구 예장동 산 5-6,중구,예장동,37.5524979951415,126.989316855952
1,길동생태공원,서울 강동구 길동 산 7-3,강동구,길동,37.5408201666847,127.15541997637
2,서울대공원,경기 과천시 막계동 159-1,과천시,막계동,37.4269323703359,127.01990249053
3,서울숲,서울 성동구 성수동1가 678-1,성동구,성수동1가,37.5443222301513,127.037617759165
4,월드컵공원,서울 마포구 성산동 390-1,마포구,성산동,37.5631939895966,126.897635431027
...,...,...,...,...,...,...
127,용마도시자연공원(사가정공원),x,x,x,x,x
128,문화비축기지,서울 마포구 성산동 661,마포구,성산동,37.57107560511949,126.89423666008835
129,경춘선숲길,서울 노원구 공릉동,노원구,공릉동,37.620691807133,127.078706040469
130,율현공원,서울 강남구 율현동 77-9,강남구,율현동,37.4726797483976,127.11548348948982
131,서울로7017,서울 중구 봉래동2가 122-16,중구,봉래동2가,37.556621312430444,126.97029831807974

In [23]:
parks = pd.DataFrame(parks)

In [24]:
parks.to_csv('공원 주소.csv', index = False)

## 영화관

In [10]:
theater = pd.read_excel('theater_location.xlsx')
theater.head()

   Unnamed: 0              영화관        lat         lng
0           0        (주)케이엠티브이  37.529402  126.871104
1           1           CGV강남제  37.501559  127.026319
2           2  CGV강변CINE&FORET  37.534937  127.095709
3           3          CGV강변DX  37.485214  127.013629
4           4        CGV강변STAR  37.534937  127.095709

In [11]:
lat = theater['lat']
lng = theater['lng']

In [14]:
headers = {"Authorization": "KakaoAK d7a5957b4fe1aef6a523daf1be7e8720"}
text = requests.get("https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x={}&y={}".format(lng[i], lat[i]), headers = headers).json()
text

{'meta': {'total_count': 2},
 'documents': [{'region_type': 'B',
   'code': '1111012100',
   'address_name': '서울특별시 종로구 신문로2가',
   'region_1depth_name': '서울특별시',
   'region_2depth_name': '종로구',
   'region_3depth_name': '신문로2가',
   'region_4depth_name': '',
   'x': 126.96862192850534,
   'y': 37.570748501590366},
  {'region_type': 'H',
   'code': '1111053000',
   'address_name': '서울특별시 종로구 사직동',
   'region_1depth_name': '서울특별시',
   'region_2depth_name': '종로구',
   'region_3depth_name': '사직동',
   'region_4depth_name': '',
   'x': 126.96884605608865,
   'y': 37.57618696588561}]}

In [15]:
text['documents'][0]['address_name']

'서울특별시 종로구 신문로2가'

In [16]:
text['documents'][0]['region_2depth_name']

'종로구'

In [17]:
text['documents'][0]['region_3depth_name']

'신문로2가'

In [18]:
theaters = {'영화관명' : [], '주소': [], '구': [], '동': []}

for i in range(len(lat)):
    headers = {"Authorization": "KakaoAK d7a5957b4fe1aef6a523daf1be7e8720"}
    text = requests.get("https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x={}&y={}".format(lng[i], lat[i]), headers = headers).json()
    
    theaters['영화관명'].append(theater['영화관'][i])

    try:
        theaters['주소'].append(text['documents'][0]['address_name'])
        theaters['구'].append(text['documents'][0]['region_2depth_name'])
        theaters['동'].append(text['documents'][0]['region_3depth_name'])
    except:
        theaters['주소'].append('x')
        theaters['구'].append('x')
        theaters['동'].append('x')

pd.DataFrame(theaters)

                영화관명              주소     구    동
0          (주)케이엠티브이    서울특별시 양천구 목동   양천구   목동
1             CGV강남제   서울특별시 강남구 역삼동   강남구  역삼동
2    CGV강변CINE&FORET   서울특별시 광진구 구의동   광진구  구의동
3            CGV강변DX   서울특별시 서초구 서초동   서초구  서초동
4          CGV강변STAR   서울특별시 광진구 구의동   광진구  구의동
..               ...             ...   ...  ...
140      코엑스더부티크프라이빗   서울특별시 강남구 삼성동   강남구  삼성동
141           코엑스컴포트   서울특별시 강남구 삼성동   강남구  삼성동
142    클래식시네마스페이스(주)               x     x    x
143             필름포럼  서울특별시 서대문구 대신동  서대문구  대신동
144          허리우드클래식   서울특별시 종로구 낙원동   종로구  낙원동

[145 rows x 4 columns]

In [26]:
theaters = pd.DataFrame(theaters)
theaters = pd.concat([theaters, lat, lng], axis = 1)
theaters

                영화관명              주소     구    동        lat         lng
0          (주)케이엠티브이    서울특별시 양천구 목동   양천구   목동  37.529402  126.871104
1             CGV강남제   서울특별시 강남구 역삼동   강남구  역삼동  37.501559  127.026319
2    CGV강변CINE&FORET   서울특별시 광진구 구의동   광진구  구의동  37.534937  127.095709
3            CGV강변DX   서울특별시 서초구 서초동   서초구  서초동  37.485214  127.013629
4          CGV강변STAR   서울특별시 광진구 구의동   광진구  구의동  37.534937  127.095709
..               ...             ...   ...  ...        ...         ...
140      코엑스더부티크프라이빗   서울특별시 강남구 삼성동   강남구  삼성동  37.512445  127.058791
141           코엑스컴포트   서울특별시 강남구 삼성동   강남구  삼성동  37.512445  127.058791
142    클래식시네마스페이스(주)               x     x    x   0.000000    0.000000
143             필름포럼  서울특별시 서대문구 대신동  서대문구  대신동  37.563757  126.944112
144          허리우드클래식   서울특별시 종로구 낙원동   종로구  낙원동  37.572832  126.988001

[145 rows x 6 columns]

In [27]:
theaters.to_csv('영화관 주소.csv', index = False)

In [37]:
theaters = theaters.drop_duplicates(['lat', 'lng'], keep = "last")

In [42]:
theaters = theaters.reset_index(drop = True)
theaters

                 영화관명              주소     구    동        lat         lng
0           (주)케이엠티브이    서울특별시 양천구 목동   양천구   목동  37.529402  126.871104
1              CGV강남제   서울특별시 강남구 역삼동   강남구  역삼동  37.501559  127.026319
2             CGV강변DX   서울특별시 서초구 서초동   서초구  서초동  37.485214  127.013629
3    CGV강변제[CGV아트하우스]   서울특별시 광진구 구의동   광진구  구의동  37.534937  127.095709
4            CGV건대입구제   서울특별시 광진구 자양동   광진구  자양동  37.539777  127.066912
..                ...             ...   ...  ...        ...         ...
97               청춘극장   서울특별시 성동구 행당동   성동구  행당동  37.557686  127.031286
98             코엑스컴포트   서울특별시 강남구 삼성동   강남구  삼성동  37.512445  127.058791
99      클래식시네마스페이스(주)               x     x    x   0.000000    0.000000
100              필름포럼  서울특별시 서대문구 대신동  서대문구  대신동  37.563757  126.944112
101           허리우드클래식   서울특별시 종로구 낙원동   종로구  낙원동  37.572832  126.988001

[102 rows x 6 columns]

In [43]:
theaters.to_csv('영화관 주소.csv', index = False)